
/******************************************
/* Utilities
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background-color: black;
    color:#d3d3d3;
    font-family: 'Cutive Mono';

}

.container {
	 width: 900px;
    margin: auto;
}

a {
	text-decoration: none;
	color: #d3d3d3;

}

nav a:hover {
	border-bottom-color: #cc3333;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.quick-links a:hover {
	color:#993333;
	text-decoration: none;
}

header {
	padding: 5 10;

}

.logo, .logo-sub {
	font-size: 24px;
	float: left;
	width: 25%;


}

.logo-sub {
		border-color: #993333;
	border-style: solid;
	border-width: 1px;
	width: 75%;
}

nav ul {
	width: 75%;
	float: right;
}

li {
	float: left;
	width: 20%;
}

.quick-links {
	margin: auto;
	text-align: center;
	padding: 100px 0 50px 0;
	font-size: 14px;
}

h1 {
	font-size: 18px;
	font-family: 'Cutive', serif;
	color: #993333;

}

.album-main {
	margin: auto;
	padding: 100px 0 100px 0;
}

.album {
	height: 400px;
	width: 400px;
}

footer {
	background-color: #993333;
		padding: 20px 0 20px 0;
}

.navbar-bottom a:hover {
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: 1px;

}


/******************************************
/* media screen 
/*******************************************/
@media screen and (max-width: 799px) {
    ul{
        display: none;
    }
    .ad {
        width: 100%;
    }
    .footer-section{
        width:100%;
    }
    .container {
        width: 799px;
        margin: auto;
    }

}