
/******************************************
/* Utilities
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background-color: #2b2b2b;
    color:#d3d3d3;
    font-family: 'Cutive Mono', 
}





/******************************************
/* media screen 
/*******************************************/
@media screen and (max-width: 799px) {
    ul{
        display: none;
    }
    .ad {
        width: 100%;
    }
    .footer-section{
        width:100%;
    }
    .container {
        width: 799px;
        margin: auto;
    }

}