/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #FCF7F4;
  font-size: 26px;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a, a:hover {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/*header styles*/
header {
  background-color: white;
  padding-top: 5px;
}

.hide {
  display:none;
}

#logoImage {
  width: 15%;
  float: left;
}
#logoImage{
  width: 165px;
  height: 115px;
  padding-top: 3px;
  } 

  .navImg {
  width: 100px;
  height: 115px;
  margin: 0 1em 1em 0;
  position: relative;
}

.topNav {
  float: right;
  width: 60%;
}

.navItem {
  width: 25%;
  float: right;
}

/*.navItem a:hover{
  background-color:;
}

.hover {
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-top-style: normal;
}*/

/*dumpling nav styling*/

.wrapper1, .wrapper2, .wrapper3, .wrapper4 {
  width:100px;
  height:115px;
  margin:1% auto 0 auto; 
  border-radius:5px;
  overflow:hidden;
}

.wrapper1    {  
  background:url(../images/dimsummit-06.png);
    background-size:cover;
}

.wrapper2    {  
  background:url(../images/dimsummit-19.png);
    background-size:cover;
}

.wrapper3    {  
  background:url(../images/dimsummit-34.png);
    background-size:cover;
}

.wrapper4    {  
  background:url(../images/dimsummit-14.png);
    background-size:cover;
}

.active {
  background-color: white;
  font-color: #526DAF;
  text-align: center;
   padding:45px 0 66px 0;

}
.overlay,  a:active {  
  background: white;
 text-align:center;
 padding:45px 0 66px 0;
 opacity:0;
 -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  }

.wrapper1:hover .overlay,
.wrapper2:hover .overlay,
.wrapper3:hover .overlay,
.wrapper4:hover .overlay  {
 opacity:1;
  }

a .hovertext {  
  color:rgba(82, 109, 175, 0.85);
  font-size:20px;
  text-decoration: none;
  }

/*responsive nav styles*/
.responsiveNav{
  width:100%; 
  background: white; 
  height:50px; 
  line-height:50px;
  display: none;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color: #526DAF;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color: #526DAF;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.responsiveMenu{
  z-index:1000000;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:white;
  position:absolute;
  text-align:center;
}

.responsiveMenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.responsiveMenu li {
  display: block;
  padding:15px 0 15px 0;
  border-bottom:#526DAF 1px solid;
}

.responsiveMenu li:hover{
  display: block; 
  background: white;
  padding:15px 0 15px 0;
  border-bottom:#526DAF 1px solid;
}

.responsiveMenu ul li a {
 text-decoration:none;
  margin: 0px; color:#526DAF;
}

.responsiveMenu ul li a:hover {
  color: #526DAF;
  text-decoration:none;
}

.responsiveMenu a{
  text-decoration:none;
  color:#526DAF;
}

.responsiveMenu a:hover{
  text-decoration:underline;
  color:#526DAF;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

/*body styles*/
.hero {
  position: relative;
}
.hero-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.hero-test img {
  width: 100%;
}

.hero-test {
  position: absolute;
  top: 50;
  left: 60;
  width: 760px;
  z-index: 100;
}

.hero-container .hero-test div {
  position: absolute;
  display: block;


}


.hero-container .hero-test .hero-dumpling {
display: none;

}

.hero-container .hero-test:hover .hero-dumpling {
  display: block;

}

.hero-container .hero-test #hero-base{
  display: block;
}

#hero-base {
  background-image: url("../images/dimsummithero2.jpg");
     background-size: contain;
    background-repeat: no-repeat;
  top: 10%;
  left: 20%;
  height: 500px;
  z-index: 90;
  width: 100%;
}

.hero-dumpling-1{
  background-image: url("../images/dimsummit-26.jpg");
     background-size: contain;
  top: 22%;
  left: 30%;
  height: 250px;
  width: 270px;
  z-index: 100;
}

.aboutText {
  color:#526DAF;
  text-align: left;
}

.aboutList {
  float: left;
  width: 50%;
  background-color: white;
  opacity: .;
}

.aboutList li {
  text-align: left;
    font-size: .5em;
}

.aboutVideo {
  float: left;
  width: 50%;
  padding-top: 20px;
  background-color: #9DAAD3;
}

/*bring this back if you want that hover on the hero*/
/*
.herodescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1B264A;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  vertical-align: center;
  font-size: 2rem;
  padding-top: 200px;
}


.hero:hover .herodescription {
  visibility: visible;
  opacity: .8;
  text-align: center;

}*/

/*normal body stuff*/
.hero img{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
}

.form {
  padding-bottom: 50px;
}

h1, h2, .form {
    text-align: center;
  color: white;
  text-shadow: 2px 2px #526DAF;
}

h3 {
  text-align: left;
  color: #526DAF;
  padding-bottom: 1%;
}

.dumpling-form {
  width: 100px;
  display: inline;
}

.dumplingBody {
  color: #526DAF;
  size: .8REM;
  text-align: center;
}
.itallic {
  font-style: italic;
}
.dumplingBody p {
  padding-bottom: 10px;
}

/*.dumplingSelection button .dumplingSubmit {
background: white;
color: #526DAF;;
}

.dumplingSelection button .dumplingSubmit:hover {
  background-color: #526DAF;
  color: white;
}*/

/*MapAPI*/

#map, #pinterestApi, #food2forkAPI{
  width: 80%;
  height: 500px;
  margin: auto;
  padding-bottom: 40px;
}

.map-padding {
  margin: 2% 0 10% 0;
}

.map {
  margin: 0 auto;
  width: 80%;
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% ;
  height: 100%;
  border: none;
}

/*DUMPLING INGREDIENTS*/
.spacing {
  position: relative;
  height: 600px;
  margin-bottom: 5px;
}
.dumpling-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  clear: both;
  color: white;
}

#exploder {
  display: none;
}

.steamed-shrimp .dumpling {
  height: 400px;
   background-image: url ("../images/swirlsblue.png");
         background-size: contain;
}
.dumpling-background {
      background-image: url ("../images/swirlsblue.png");


}
.dumpling {
  position: absolute;
  background: url ("../images/swirlsblue.png");
  background-size: contain;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  -webkit-animation: burgerslide 1.5s 0.3s 1 normal backwards cubic-bezier(0, 0.91, 0.22, 0.97);
  -moz-animation: burgerslide 1.5s 0.3s 1 normal backwards cubic-bezier(0, 0.91, 0.22, 0.97);
  -ms-animation: burgerslide 1.5s 0.3s 1 normal backwards cubic-bezier(0, 0.91, 0.22, 0.97);
  -o-animation: burgerslide 1.5s 0.3s 1 normal backwards cubic-bezier(0, 0.91, 0.22, 0.97);
  animation: burgerslide 1.5s 0.3s 1 normal backwards cubic-bezier(0, 0.91, 0.22, 0.97);
  -webkit-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -moz-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -o-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -ms-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  z-index: 100;
}

.shadow-layer {
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -moz-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -o-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -ms-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
}


.dumpling-container .dumpling div {
  position: absolute;
  display: block;
  width: 100%;
  -webkit-transition: all 1s cubic-bezier(0, 0.91, 0.22, 0.97);
  -moz-transition: all 1s cubic-bezier(0, 0.91, 0.22, 0.97);
  -o-transition: all 1s cubic-bezier(0, 0.91, 0.22, 0.97);
  -ms-transition: all 1s cubic-bezier(0, 0.91, 0.22, 0.97);
  transition: all 1s cubic-bezier(0, 0.91, 0.22, 0.97);
}

.dumpling-container .dumpling div p {
  background-color: #526DAF;
  color: white;
  position: absolute;
  top: 50%;
  right: -50%;
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  font-size: 1em;
  padding: 10px 15px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0;
}


.dumpling-container .dumpling:hover .dumpling-layer:hover {
  -webkit-transform: translate(10%, 0);
  -moz-transform: translate(10%, 0);
  -o-transform: translate(10%, 0);
  -ms-transform: translate(10%, 0);
  transform: translate(10%, 0);
}
/* line 420, ../sass/partials/_page.scss */
.dumpling-container .dumpling:hover .dumpling-layer:hover p {
  margin: 5px 0;
  opacity: .7;
  -webkit-transform: translate(10%, -50%);
  -moz-transform: translate(10%, -50%);
  -o-transform: translate(10%, -50%);
  -ms-transform: translate(10%, -50%);
  transform: translate(10%, -50%);
}

.dumpling-container .dumpling .dumpling-layer {
display: none;

}

.dumpling-container .dumpling:hover .dumpling-layer {
  display: block;

}

.dumpling-container .dumpling #dumpling-base,
 .dumpling-container .dumpling #dumpling-base-fm,
 .dumpling-container .dumpling #dumpling-base-sv,
  .dumpling-container .dumpling #dumpling-base-fv {
  display: block;
}

/*steamed shrimp*/

.dumpling-layer-1 {
  background-image: url("../images/choppedonionsandgarlic.png");
  background-size: contain;
  height: 200px;
  z-index: 60;
  top: 0;
}


.dumpling-layer-2 {
  height: 185px;
  background-image: url("../images/carrots.png");
  background-size: contain;
  z-index: 70;
  top: 15%;
}


.dumpling-layer-3 {
  height: 205px;
  background-image: url("../images/scallions.png");
  background-size: contain;
  z-index: 80;
  top: 25%;
}

.dumpling-layer-4 {
  height: 185px;
  background-image: url("../images/shrimp.png");
  background-size: contain;
  z-index: 90;
  top: 40%;
}


.dumpling-layer-5 {
  height: 190px;
  background-image: url("../images/steameddumpling.png");
  background-size: contain;
  z-index: 100;
  top: 60%;
}

/*fried shrimp*/

.dumpling-layer-6 {
  background-image: url("../images/choppedonionsandgarlic.png");
  background-size: contain;
  height: 200px;
  z-index: 60;
  top: 0;
}



.dumpling-layer-7 {
  height: 205px;
  background-image: url("../images/mushrooms.png");
  background-size: contain;
  z-index: 70;
  top: 15%;
}


.dumpling-layer-8 {
 height: 185px;
  background-image: url("../images/carrots.png");
  background-size: contain;
  z-index: 80;
  top: 25%;
}

.dumpling-layer-9 {
  height: 185px;
  background-image: url("../images/shrimp.png");
  background-size: contain;
  z-index: 90;
  top: 40%;
}

.dumpling-layer-10 {
  height: 190px;
  background-image: url("../images/oil.png");
  background-size: contain;
  z-index: 100;
  top: 60%;
}


.dumpling-layer-11 {
  height: 190px;
  background-image: url("../images/fried-dumpling.png");
  background-size: contain;
  z-index: 100;
  top: 80%;
}

/*vegetarian steamed*/
.dumpling-layer-12 {
  background-image: url("../images/choppedonionsandgarlic.png");
  background-size: contain;
  height: 200px;
  z-index: 60;
  top: 0;
}



.dumpling-layer-13 {
  height: 205px;
  background-image: url("../images/mushrooms.png");
  background-size: contain;
  z-index: 70;
  top: 15%;
}


.dumpling-layer-14 {
 height: 185px;
  background-image: url("../images/carrots.png");
  background-size: contain;
  z-index: 80;
  top: 30%;
}

.dumpling-layer-15 {
  height: 185px;
  background-image: url("../images/scallions.png");
  background-size: contain;
  z-index: 90;
  top: 40%;
}

.dumpling-layer-16 {
  height: 190px;
  background-image: url("../images/tofu.png");
  background-size: contain;
  z-index: 100;
  top: 60%;
}


.dumpling-layer-17 {
  height: 190px;
  background-image: url("../images/steameddumpling.png");
  background-size: contain;
  z-index: 100;
  top: 80%;
}

/*vegetarian fried*/
.dumpling-layer-18 {
  background-image: url("../images/choppedonionsandgarlic.png");
  background-size: contain;
  height: 200px;
  z-index: 60;
  top: 0;
}



.dumpling-layer-19 {
  height: 205px;
  background-image: url("../images/mushrooms.png");
  background-size: contain;
  z-index: 70;
  top: 15%;
}


.dumpling-layer-20 {
 height: 185px;
  background-image: url("../images/carrots.png");
  background-size: contain;
  z-index: 80;
  top: 30%;
}

.dumpling-layer-21 {
  height: 185px;
  background-image: url("../images/leeks.png");
  background-size: contain;
  z-index: 90;
  top: 40%;
}

.dumpling-layer-22 {
  height: 190px;
  background-image: url("../images/tofu.png");
  background-size: contain;
  z-index: 100;
  top: 60%;
}


.dumpling-layer-23 {
  height: 190px;
  background-image: url("../images/steameddumpling.png");
  background-size: contain;
  z-index: 100;
  top: 80%;
}




.chur-layer-80 {
  top: 65%;
  left: 3%;
  height: 198px;
  background-image: url("../images/chur_layer_80_shadow.svg");
  z-index: 35;
}


.dumpling:hover, .dumpling:focus, .dumpling:active {
  height: 90%;
}

/*hero testing*/



/*FOOTER STYLE*/
footer {
  color: white;
  background-color: #526DAF;
  padding: 20px 0;
  text-align:right;
  font-size: 1REM;
}

footer a {
  color: white;
  text-decoration: none;
  border: white 2px solid;
  padding: 10px 15px;
  border-radius: 15px;
}

footer a:hover {
  color: #526DAF;
  background-color: white;
  border: #526DAF 1px solid;
 

}

/*media queries*/
 @media screen and (max-width: 768px) {
  .topNav {
    display:none;
  }

  .responsiveNav {
    display: block;
  }
 }