/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #FCF7F4;
  font-size: 26px;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a, a:hover {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/*header styles*/
header {
  background-color: white;
  padding-top: 5px;
}

.hide {
  display:none;
}

#logoImage {
  width: 15%;
  float: left;
}
#logoImage{
  width: 165px;
  height: 115px;
  padding-top: 3px;
  } 

  .navImg {
  width: 100px;
  height: 115px;
  margin: 0 1em 1em 0;
  position: relative;
}

.topNav {
  float: right;
  width: 50%;
}

.navItem {
  width: 25%;
  float: left;
}

/*.navItem a:hover{
  background-color:;
}

.hover {
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-top-style: normal;
}*/

/*dumpling nav styling*/

.wrapper1, .wrapper2, .wrapper3, .wrapper4 {
  width:100px;
  height:115px;
  margin:1% auto 0 auto; 
  border-radius:5px;
  overflow:hidden;
}

.wrapper1    {  
  background:url(../images/dimsummit-06.png);
    background-size:cover;
}

.wrapper2    {  
  background:url(../images/dimsummit-19.png);
    background-size:cover;
}

.wrapper3    {  
  background:url(../images/dimsummit-34.png);
    background-size:cover;
}

.wrapper4    {  
  background:url(../images/dimsummit-14.png);
    background-size:cover;
}


.overlay{  
  background:rgba(252, 247, 244, 0.50);
 text-align:center;
 padding:45px 0 66px 0;
 opacity:0;
 -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  }

.wrapper1:hover .overlay,
.wrapper2:hover .overlay,
.wrapper3:hover .overlay,
.wrapper4:hover .overlay  {
 opacity:1;
  }

a .hovertext {  
  color:rgba(82, 109, 175, 0.85);
  font-size:20px;
  text-decoration: none;
  }

/*responsive nav styles*/
.responsiveNav{
  width:50%; 
  background: white; 
  height:50px; 
  line-height:50px;
  display: none;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color: #526DAF;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color: #526DAF;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.responsiveMenu{
  z-index:1000000;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:white;
  position:absolute;
  text-align:center;
}

.responsiveMenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.responsiveMenu li {
  display: block;
  padding:15px 0 15px 0;
  border-bottom:#526DAF 1px solid;
}

.responsiveMenu li:hover{
  display: block; 
  background: white;
  padding:15px 0 15px 0;
  border-bottom:#526DAF 1px solid;
}

.responsiveMenu ul li a {
 text-decoration:none;
  margin: 0px; color:#526DAF;
}

.responsiveMenu ul li a:hover {
  color: #526DAF;
  text-decoration:none;
}

.responsiveMenu a{
  text-decoration:none;
  color:#526DAF;
}

.responsiveMenu a:hover{
  text-decoration:underline;
  color:#526DAF;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

/*body styles*/
.hero {
  position: relative;
}

/*bring this back if you want that hover on the hero*/
/*
.herodescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1B264A;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  vertical-align: center;
  font-size: 2rem;
  padding-top: 200px;
}


.hero:hover .herodescription {
  visibility: visible;
  opacity: .8;
  text-align: center;

}*/

/*normal body stuff*/
.hero img{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
}

.form {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #526DAF;
  padding-bottom: 50px;
}

.dumpling-form {
  width: 100px;
  display: inline;
}


/*FOOTER STYLE*/
footer {
  width: 100%;
  color: white;
  background-color: #526DAF;
  padding: 20px;
  text-align:right;
  font-size: 1REM;
}

/*media queries*/
 @media screen and (max-width: 768px) {
  .topNav {
    display:none;
  }

  .responsiveNav {
    display: inline-block;
  }
 }