/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #FCF7F4;
  font-size: 26px;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a, a:hover {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/*header styles*/
header {
  background-color: white;
  padding-top: 5px;
}

.hide {
  display:none;
}

#logoImage {
  width: 15%;
  float: left;
}
#logoImage{
  width: 165px;
  height: 115px;
  padding-top: 3px;
  } 

  .navImg {
  width: 100px;
  height: 115px;
  margin: 0 1em 1em 0;
  position: relative;
}

.topNav {
  float: right;
  width: 50%;
}

.navItem {
  width: 25%;
  float: left;
}

/*.navItem a:hover{
  background-color:;
}

.hover {
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-top-style: normal;
}*/

/*dumpling nav styling*/

.wrapper1, .wrapper2, .wrapper3, .wrapper4 {
  width:100px;
  height:115px;
  margin:1% auto 0 auto; 
  border-radius:5px;
  overflow:hidden;
}

.wrapper1    {  
  background:url(../images/dimsummit-06.png);
    background-size:cover;
}

.wrapper2    {  
  background:url(../images/dimsummit-19.png);
    background-size:cover;
}

.wrapper3    {  
  background:url(../images/dimsummit-34.png);
    background-size:cover;
}

.wrapper4    {  
  background:url(../images/dimsummit-14.png);
    background-size:cover;
}


.overlay{  
  background:rgba(252, 247, 244, 0.50);
 text-align:center;
 padding:45px 0 66px 0;
 opacity:0;
 -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  }

.wrapper1:hover .overlay,
.wrapper2:hover .overlay,
.wrapper3:hover .overlay,
.wrapper4:hover .overlay  {
 opacity:1;
  }

a .hovertext {  
  color:rgba(82, 109, 175, 0.85);
  font-size:20px;
  text-decoration: none;
  }

/*responsive nav styles*/
.responsiveNav{
  width:50%; 
  background: white; 
  height:50px; 
  line-height:50px;
  display: none;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color: #526DAF;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color: #526DAF;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.responsiveMenu{
  z-index:1000000;
  font-weight:bold;
  font-size:0.8em;
  width:100%;
  background:white;
  position:absolute;
  text-align:center;
}

.responsiveMenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.responsiveMenu li {
  display: block;
  padding:15px 0 15px 0;
  border-bottom:#526DAF 1px solid;
}

.responsiveMenu li:hover{
  display: block; 
  background: white;
  padding:15px 0 15px 0;
  border-bottom:#526DAF 1px solid;
}

.responsiveMenu ul li a {
 text-decoration:none;
  margin: 0px; color:#526DAF;
}

.responsiveMenu ul li a:hover {
  color: #526DAF;
  text-decoration:none;
}

.responsiveMenu a{
  text-decoration:none;
  color:#526DAF;
}

.responsiveMenu a:hover{
  text-decoration:underline;
  color:#526DAF;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

/*body styles*/
.hero {
  position: relative;
}

/*bring this back if you want that hover on the hero*/
/*
.herodescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1B264A;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  vertical-align: center;
  font-size: 2rem;
  padding-top: 200px;
}


.hero:hover .herodescription {
  visibility: visible;
  opacity: .8;
  text-align: center;

}*/

/*normal body stuff*/
.hero img{
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0px;
}

.form {
  padding-bottom: 50px;
}

h1, h2, .form {
    text-align: center;
  color: white;
  text-shadow: 2px 2px #526DAF;
}

.dumpling-form {
  width: 100px;
  display: inline;
}

.dumplingBody {
  color: #526DAF;
  size: .8REM;
  text-align: center;
}

.dumplingBody p {
  padding-bottom: 10px;
}

/*MapAPI*/

#map, #pinterestApi, #food2forkAPI{
  width: 80%;
  height: 500px;
  margin: auto;
  padding-bottom: 40px;
}

.map {
  margin: 0 auto;
  width: 80%;
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% ;
  height: 100%;
  border: none;
}

/*BURGER TEST*/
.burger-container {
  position: absolute;
  top: 20%;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  clear: both;
  color: white;
}

#exploder {
  display: none;
}

.churburger .burger {
  height: 450px;
}

.burger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 375px;
  -webkit-animation: burgerslide 1.5s 0.3s 1 normal backwards cubic-bezier(0, 0.91, 0.22, 0.97);
  -moz-animation: burgerslide 1.5s 0.3s 1 normal backwards cubic-bezier(0, 0.91, 0.22, 0.97);
  -ms-animation: burgerslide 1.5s 0.3s 1 normal backwards cubic-bezier(0, 0.91, 0.22, 0.97);
  -o-animation: burgerslide 1.5s 0.3s 1 normal backwards cubic-bezier(0, 0.91, 0.22, 0.97);
  animation: burgerslide 1.5s 0.3s 1 normal backwards cubic-bezier(0, 0.91, 0.22, 0.97);
  -webkit-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -moz-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -o-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -ms-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  z-index: 100;
}

.shadow-layer {
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -moz-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -o-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  -ms-transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
  transition: all 0.5s cubic-bezier(0, 0.91, 0.22, 0.97);
}

/* line 389, ../sass/partials/_page.scss */
.burger-container .burger div {
  position: absolute;
  display: block;
  width: 100%;
  -webkit-transition: all 1s cubic-bezier(0, 0.91, 0.22, 0.97);
  -moz-transition: all 1s cubic-bezier(0, 0.91, 0.22, 0.97);
  -o-transition: all 1s cubic-bezier(0, 0.91, 0.22, 0.97);
  -ms-transition: all 1s cubic-bezier(0, 0.91, 0.22, 0.97);
  transition: all 1s cubic-bezier(0, 0.91, 0.22, 0.97);
}
/* line 396, ../sass/partials/_page.scss */
.burger-container .burger div p {
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  right: -50%;
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  font-size: 1.4em;
  padding: 10px 15px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
}

/* line 417, ../sass/partials/_page.scss */
.burger-container .burger:hover .burger-layer:hover {
  -webkit-transform: translate(10%, 0);
  -moz-transform: translate(10%, 0);
  -o-transform: translate(10%, 0);
  -ms-transform: translate(10%, 0);
  transform: translate(10%, 0);
}
/* line 420, ../sass/partials/_page.scss */
.burger-container .burger:hover .burger-layer:hover p {
  margin: 5px 0;
  opacity: 1;
  -webkit-transform: translate(10%, -50%);
  -moz-transform: translate(10%, -50%);
  -o-transform: translate(10%, -50%);
  -ms-transform: translate(10%, -50%);
  transform: translate(10%, -50%);
}

/* line 428, ../sass/partials/_page.scss */
.chur-layer-10 {
  background-image: url("../images/chur_layer_10_bun.svg");
  height: 220px;
  z-index: 100;
  top: 0;
}

/* line 435, ../sass/partials/_page.scss */
.chur-layer-20 {
  height: 160px;
  background-image: url("../images/chur_layer_20_cheesesauce.svg");
  z-index: 90;
  top: 19%;
}

/* line 442, ../sass/partials/_page.scss */
.chur-layer-25 {
  height: 160px;
  background-image: url("../images/chur_layer_25_cheesesauce-shadow.svg");
  z-index: 89;
  top: 21%;
}

/* line 449, ../sass/partials/_page.scss */
.chur-layer-30 {
  height: 165px;
  background-image: url("../images/chur_layer_30_pickle.svg");
  z-index: 80;
  top: 28%;
}

/* line 456, ../sass/partials/_page.scss */
.chur-layer-40 {
  height: 185px;
  background-image: url("../images/chur_layer_40_cheese.svg");
  z-index: 70;
  bottom: 40%;
}

/* line 463, ../sass/partials/_page.scss */
.chur-layer-50 {
  height: 205px;
  background-image: url("../images/chur_layer_50_patty.svg");
  z-index: 60;
  bottom: 27%;
}

/* line 470, ../sass/partials/_page.scss */
.chur-layer-60 {
  height: 155px;
  background-image: url("../images/chur_layer_60_chutney.svg");
  z-index: 50;
  bottom: 22%;
}

/* line 477, ../sass/partials/_page.scss */
.chur-layer-70 {
  height: 225px;
  background-image: url("../images/chur_layer_70_bottom.svg");
  z-index: 40;
  bottom: 7%;
}

/* line 484, ../sass/partials/_page.scss */
.chur-layer-80 {
  bottom: 0;
  height: 198px;
  background-image: url("../images/chur_layer_80_shadow.svg");
  z-index: 30;
}

/* line 770, ../sass/partials/_page.scss */
.burger:hover, .burger:focus, .burger:active {
  height: 90%;
}
/* line 773, ../sass/partials/_page.scss */
.burger:hover .shadow-layer, .burger:focus .shadow-layer, .burger:active .shadow-layer {
  opacity: 0;
}
/* line 778, ../sass/partials/_page.scss */
.burger:hover .marys-layer-10, .burger:focus .marys-layer-10, .burger:active .marys-layer-10 {
  top: 0%;
}
/* line 779, ../sass/partials/_page.scss */
.burger:hover .marys-layer-20, .burger:focus .marys-layer-20, .burger:active .marys-layer-20 {
  top: 12.5%;
}
/* line 780, ../sass/partials/_page.scss */
.burger:hover .marys-layer-30, .burger:focus .marys-layer-30, .burger:active .marys-layer-30 {
  top: 25%;
}
/* line 781, ../sass/partials/_page.scss */
.burger:hover .marys-layer-40, .burger:focus .marys-layer-40, .burger:active .marys-layer-40 {
  top: 37.5%;
}
/* line 782, ../sass/partials/_page.scss */
.burger:hover .marys-layer-50, .burger:focus .marys-layer-50, .burger:active .marys-layer-50 {
  bottom: 17%;
}
/* line 783, ../sass/partials/_page.scss */
.burger:hover .marys-layer-60, .burger:focus .marys-layer-60, .burger:active .marys-layer-60 {
  bottom: 15%;
}
/* line 784, ../sass/partials/_page.scss */
.burger:hover .marys-layer-70, .burger:focus .marys-layer-70, .burger:active .marys-layer-70 {
  bottom: 4%;
}
/* line 785, ../sass/partials/_page.scss */
.burger:hover .marys-layer-80, .burger:focus .marys-layer-80, .burger:active .marys-layer-80 {
  bottom: 0;
}
/* line 788, ../sass/partials/_page.scss */
.burger:hover .huxta-layer-10, .burger:focus .huxta-layer-10, .burger:active .huxta-layer-10 {
  top: 0%;
}
/* line 789, ../sass/partials/_page.scss */
.burger:hover .huxta-layer-20, .burger:focus .huxta-layer-20, .burger:active .huxta-layer-20 {
  top: 15%;
}
/* line 790, ../sass/partials/_page.scss */
.burger:hover .huxta-layer-30, .burger:focus .huxta-layer-30, .burger:active .huxta-layer-30 {
  top: 20%;
}
/* line 791, ../sass/partials/_page.scss */
.burger:hover .huxta-layer-40, .burger:focus .huxta-layer-40, .burger:active .huxta-layer-40 {
  top: 30%;
}
/* line 792, ../sass/partials/_page.scss */
.burger:hover .huxta-layer-50, .burger:focus .huxta-layer-50, .burger:active .huxta-layer-50 {
  top: 40%;
}
/* line 793, ../sass/partials/_page.scss */
.burger:hover .huxta-layer-60, .burger:focus .huxta-layer-60, .burger:active .huxta-layer-60 {
  top: 46%;
}
/* line 794, ../sass/partials/_page.scss */
.burger:hover .huxta-layer-70, .burger:focus .huxta-layer-70, .burger:active .huxta-layer-70 {
  bottom: 24%;
}
/* line 795, ../sass/partials/_page.scss */
.burger:hover .huxta-layer-80, .burger:focus .huxta-layer-80, .burger:active .huxta-layer-80 {
  bottom: 18%;
}
/* line 796, ../sass/partials/_page.scss */
.burger:hover .huxta-layer-90, .burger:focus .huxta-layer-90, .burger:active .huxta-layer-90 {
  bottom: 12%;
}
/* line 797, ../sass/partials/_page.scss */
.burger:hover .huxta-layer-100, .burger:focus .huxta-layer-100, .burger:active .huxta-layer-100 {
  bottom: 2%;
}


/*FOOTER STYLE*/
footer {
  width: 100%;
  color: white;
  background-color: #526DAF;
  padding: 20px;
  text-align:right;
  font-size: 1REM;
}

/*media queries*/
 @media screen and (max-width: 768px) {
  .topNav {
    display:none;
  }

  .responsiveNav {
    display: inline-block;
  }
 }